.contents.row
  %a{:href => "/"} 一覧にもどる
  = form_tag("/#{@post.id}, method: :patch) do
    %h3
      編集する
    %p
      %input{:name => "title", :placeholder => "タイトル", :type => "text", :value => "#{@post.title}"}
    %textarea{:cols => "50", :name => "content", :placeholder => "記事を編集してください", :rows => "10"}= @post.content
    %p
      %input{:type => "submit", :value => "投稿"}/
