.contents.row
  %a.btn{:href => "/"} 一覧にもどる
  = form_tag('/complete', method: :post) do
    %h3
      投稿する
    %p
      %input{:name => "title", :placeholder => "タイトル", :type => "text"}/
    %textarea{:cols => "50", :name => "content", :placeholder => "記事を書いてください", :rows => "10"}
    %p
      %input{:type => "submit", :value => "投稿"}/
